@use '../../base';

.project-tile-large-content {
 z-index: -1;
}

.project-tile-large {
  position: relative;
}

.project-tile-large-background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px) grayscale(80%) opacity(70%);
  -moz-filter: blur(5px) grayscale(80%) opacity(70%);
  -o-filter: blur(5px) grayscale(80%) opacity(70%);
  -ms-filter: blur(5px) grayscale(80%) opacity(70%);
  filter: blur(5px) grayscale(80%) opacity(70%);
}


/**
 * Mobile / Vertical
 */
@media all and (max-width: 50rem) {
  .project-tile-large {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem;
    padding: 1.5rem;

    width: 100%;
    min-height: 120vh; 
  }

  .project-tile-large-heading {
    text-align: center;
    font-size: base.$mobile-large-heading;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  .project-tile-large-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }

  .project-tile-large-icons:first-child h2 {
    font-size: base.$mobile-large-heading;
  }

  .project-tile-large-icons img {
    max-width: 3rem;
  }

  .project-tile-large-content {
    width: 20rem;
    height: auto;
  }

  .project-tile-large-content h2 {
    font-size: base.$mobile-small-heading;
  }

  .project-tile-large-screenshot {
    display: none;
  }
}

/**
 * Desktop / Horizontal
 */
@media all and (min-width: 50rem) {
  .project-tile-large {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;

    width: 85%;
    min-height: 50rem;
    margin: 5rem;
  }

  .project-tile-large-heading {
    text-align: center;
    font-size: base.$large-heading;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  .project-tile-large-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px;
    padding: 1rem;

    border-radius: 1rem;
    background-color: rgba(12, 12, 12, .8);
  }

  .project-tile-large-icons:first-child h2 {
    font-size: 35px;
  }

  .project-tile-large-icons img {
    max-width: 7rem;
    margin-right: 20px;
  }

  .project-tile-large-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
  }

  .project-tile-large-content p {
    width: 700px;
  }

  .project-tile-large-content h2 {
    font-size: 25px;
  }

  .project-tile-large-screenshot {
    width: 10rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .project-tile-large-screenshot img {
    max-width: 10rem;
  }
}
