@use '../../base';

/**
 * Mobile / Vertical
 */
@media all and (max-width: 800px) {
  .proj-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-heading {
    background-image: url("../../assets/background/production.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    padding: 2rem;

    animation: fadeIn 1.5s ease-in;
  }

  .project-anchors {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: base.$color-black-transparent;
    border-radius: 1rem;

    h2 {
      font-size: base.$mobile-large-heading;
      margin: 3rem 0rem 0rem 0rem;
      text-align: center;
    }
  }

  .project-anchors-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;

    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;

      background-color: base.$color-light;
      color: base.$color-almost-black;
      font-size: base.$mobile-large-p;
      margin: 0.5rem 0rem;
      padding: 0rem 1rem;
      text-decoration: none;
      text-align: center;
      width: 150px;
      height: 65px;
    }
  }

  .anchor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: base.$color-black;
    height: 50px;
    padding: 1rem 0rem;
    position: sticky;
    top: 0;
    margin: 0;
    width: 100%;
  }
}


/**
 * Desktop / Horizontal
 */
@media all and (min-width: 800px) {
  .proj-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-heading {
    background-image: url("../../assets/background/pedalboard.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    padding: 2rem;

    animation: fadeIn 1.5s ease-in;
  }

  .project-anchors {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: base.$color-black-transparent;
    border-radius: 1rem;

    h2 {
      font-size: base.$large-heading;
      margin: 5rem 0rem 0rem 0rem;
      text-align: center;
    }
  }

  .project-anchors-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem 0rem;

    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;

      background-color: base.$color-light;
      color: base.$color-almost-black;
      font-size: base.$large-p;
      transition: all 0.4s ease;
      padding: 0rem 1rem;
      text-decoration: none;
      text-align: center;
      width: 150px;
      height: 65px;
    }

    a:hover {
      transform: translate3D(0, -1px, 0) scale(1.03); /* move up slightly and zoom in */
      background-color: base.$color-red;
      color: base.$color-light;
      border-radius: 5px;
      transition: all 0.4s ease; /* zoom in */
      cursor: pointer;
    }
  }

  .anchor {
    text-align: center;
    background-color: base.$color-black;
    padding: 1rem 0rem;
    position: sticky;
    top: 0;
    margin: 0;
    width: 100%;
  }
}
