@use '../../base';

/**
 * Mobile / Vertical
 */
@media all and (max-width: 50rem) {
  .project-tile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;

    width: 40rem;
  }

  .project-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 30rem;

    border-radius: 5px;  
    padding: 1rem;
    background-color: base.$color-light-gray;
    color: base.$color-light;
    
    transition: all 0.5s ease; /* back to normal */

    p {
      padding: 2rem 0rem;
      margin: 0;
    }
  }

  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem 0rem;

    h4 {
      font-size: base.$mobile-small-heading;
      margin: 0;
    }
  }

  .project-img {
    display: none;
  }

  .project-tile-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 50px;
      margin-right: 1rem;
      text-align: center;
      background-color: base.$site-color-dark;
      color: white;
      text-decoration: none;
    }
  }
}

/**
 * Desktop / Horizontal
 */
@media all and (min-width: 50rem) {
  .project-tile-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: base.$color-light-gray;
    color: base.$color-light;
    border-radius: 5px;

    width: 700px;
    height: 250px;
    padding: 1rem;
    margin: 1rem;
    transition: all 0.5s ease; /* back to normal */

    p {
      width: 400px;
      font-size: base.$small-p;
      padding: 2rem 0rem;
      margin: 0;
    }

    h4 {
      font-size: base.$small-heading;
      margin: 0;
    }
  }

  .project-tile:hover {
    transform: translate3D(0, -1px, 0) scale(1.03); /* move up slightly and zoom in */
    -webkit-box-shadow: 9px 9px 0px -2px base.$color-red-dark;
    box-shadow: 9px 9px 0px -2px base.$color-red-dark;
    transition: all 0.4s ease; /* zoom in */
  }

  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    padding: 1rem 0rem;
  }

  .project-img img {
    width: 10rem;
  }

  .project-tile-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 50px;
      margin-right: 1rem;
      text-align: center;
      background-color: base.$site-color-dark;
      color: white;
      text-decoration: none;
      transition: all 0.4s ease;
    }

    a:hover {
      background-color: base.$color-red;
      color: base.$color-light;
      border-radius: 5px;
      transition: all 0.4s ease; /* zoom in */
      cursor: pointer;
    }
  }
}
