@use '../../base';

.tile {
  font-family: base.$font-mono;
  color: base.$color-light;
  border: 1px solid base.$site-color-dark-alt;
  border-radius: base.$radius;
  background-color: base.$color-black;
}

/**
 * MOBILE / VERTICAL
 */
@media all and (max-width: base.$bp) {
  .tile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-size: cover;
    background-position: center;

    a {
      text-decoration: none;
    }

  }

  .tile-group {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: base.$space-3;
    width: 100%;
  }

  .tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 16rem;
    height: 3rem;

    p {
      margin: 0;
    }
  }
}

/**
 * DESKTOP / HORIZONTAL
 */
@media all and (min-width: base.$bp) {
  .tile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-size: cover;
    background-position: center;

    a {
      text-decoration: none;
    }

  }

  .tile-group {
    width: 100%;
    max-width: base.$grid-max;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: base.$space-4;
  }

  .tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.4s ease;
    text-decoration: none;
    width: 12rem;
    height: 3.5rem;

    p {
      margin: 0;
    }
  }

  .tile:hover {
    transform: translate3D(0, -1px, 0) scale(1.03); /* move up slightly and zoom in */
    background-color: base.$color-red-dark;
    border-color: base.$color-signal;
    color: base.$color-light;
    transition: all 0.4s ease; /* zoom in */
    cursor: pointer;
  }
}
