@use '../../base';
@include base.animation-mixin(fadeIn, 0, 1);

/*
 * Mobile / Vertical
 */
@media all and (max-width: 800px) {
  /* HERO SECTION */

  .hero1-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: base.$site-color-light;
    animation: fadeIn 1.5s ease-in;
    height: 300px;

    img {
      display: none;
    }
  }

  .hero1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;

    color: base.$color-light;

    p {
      font-size: base.$mobile-large-p;
    }
  }

  // TODO: Disable the quote from a better
  .hero1-quote {
    display: none;
  }

  .hero1-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .hero1-section img {
    width: 200px;
    height: 200px;
    padding-left: 30px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* SERVICES SECTION */

  .tile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: base.$color-almost-black;
    color: base.$color-light;
  }
}


/*
 * Desktop / Horizontal
 */
@media all and (min-width: 800px) {
  /* HERO SECTION */

  .hero1-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: base.$site-color-light;
    animation: fadeIn 1.5s ease-in;
    height: 475px;
  }

  .hero1-quote {
    min-width: 400px;
    background-color: base.$color-almost-black;
    color: base.$color-light;
    margin-right: 0px;

    h2 {
      font-size: base.$large-heading;
      font-style: italic;
    }

    h3 {
      color: base.$site-color-gray;
      font-size: base.$small-heading;
      font-style: italic;
      margin-left: 20px;
      margin-top: 2px;
      margin-bottom: 2px;
      padding: 5px;
    }

    h4 {
      color: base.$site-color-gray;
      font-style: italic;
      margin-left: 20px;
      margin-top: 0px;
      margin-bottom: 2px;
      padding: 5px;
    }

    p {
      font-size: base.$large-p;
    }
  }

  .hero1-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-right: 5vh;
    color: base.$color-light;

    h2 {
      font-size: base.$large-heading;
      margin: 0;
    }

    p {
      font-size: base.$large-p;
    }
  }

  .hero1-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .hero1-section img {
    width: 200px;
    height: 200px;
    padding-left: 30px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* SERVICES SECTION */

  .tile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: base.$color-almost-black;
    color: base.$color-light;

    h2 {
      font-size: base.$large-heading;
    }
  }
}
