$font-stack: 'Lato', sans-serif;

$site-color-dark: #23272a;
$site-color-gray: #c9d2d8;
$site-color-light: #fff;
$color-dark: #333;
$color-off-white: #f6f6f6;

$large-heading: 40px;
$large-p: 20px;

$transition-duration: 500ms;
