@use 'base';

body {
  font-family: base.$font-stack;
  display: flex;
  flex-direction: column;
  background-color: base.$site-color-dark;
  color: base.$color-light;
  margin: 0;
}

html,
body {
  height: 100%;
}

#root {
  flex: 1 0 auto;
}
